
/* RESET CSS */
/* Box sizing for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class are styled by default */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for form inputs */
input,
button,
textarea,
select {
  font: inherit;
}


.password-toggle {
    cursor: pointer;
}

.language-selector {
            position: absolute;
            top: 20px;
            right: 20px;
        }



        body {
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700; /* Use a bold weight for headings */
}